# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
gdb.txt

#folders
.build
.temp
lib

# temp
norm.txt
norm_ls.txt
norm_err.txt
norm_errn.txt
testing_manual.txt
imgui.ini
rand.txt
input.txt
ops.txt
palette.png
out*.txt
rand*.txt
